body{
    background-color: lightblue; ;
    margin: 0;
    padding: 0;
}
/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: black; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    margin-top: -0.3rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}
.cabecera__buscar{
    width: 4rem;
    height: 1.7rem;
    margin-top: -0.3rem;
    transition: 0.4s;
    border-radius: 2rem;
}

.cabecera__buscar:focus{
    width: 7rem;
}
.cabecera__buscar__boton{
    border: none;
    border-radius: 2rem;
    height: 1.7rem;
    margin-left: -2.5rem;
}

/*--------------------------------------body-----------------------------------------------*/
.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor__slider{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
}
/*-----------------------------------------CTA----------------------------------------------*/
.contenedor__notifificacion{
    top: 15%;
    position:fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    z-index: 100;
    margin-right: 0.8rem;
}
.fa-bell{
    text-decoration: none;
    color: #0c2026;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid white 0.2rem;
    border-radius: 50%;
    margin-left: 0.2rem;
}
.contenedor__notifificacion__boton{
    border: none;
    border-radius: 50%;
    background-color: #30839f;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

/*----------------------------------Carta--------------------------------------------------*/
.wrapper{
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.carta{
    background-color: lightblue;
    border-radius: 2%;
    text-align: center;
    width: 25rem;
    height: 30rem;
    box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}
.carta__imagen__imagen{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 0.7rem;
    box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}

.carta__nombre{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: #0c2026;
}

.carta__descripcion{
    font-size: 0.8rem;
    color: #0c2026;
    margin-bottom: 9rem;
}

.carta__redes{
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.carta__redes__icono{
    border-right: 0.1rem solid;
    height: 100%;
    width: 100%;

}
.no_borde{
    border-right: none;
}
/*----------------------------------Footer-------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: black;
    bottom: 0%;
    left: 0%;
    width: 100%; 
    padding-bottom: 1.5rem;
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.7rem;
    margin-top: 1.5rem;
}

.pie-de-pagina__suscripcion{
    display: flex;
    justify-content: center;
}
.pie-de-pagina__suscripcion__input{
    width: 7rem;
    border-radius: 2rem;
    transition: 0.2s;
    margin-left: 1rem;
}
.pie-de-pagina__suscripcion__input:focus{
    width: 15rem;
}
.pie-de-pagina__suscripcion__boton{
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
    margin-left: -1.5rem;
    background-color: #30839f;
    cursor: pointer;
}

/*----------------------------------------Responsive------------------------------------------------*/

@media only screen and (max-width:610px){
    .cabecera{
        height: auto;
        display: block;
    }
    .cabecera__formulario{
        border-top: solid white 1px;
    }
    .cabecera__link{
        display: block;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-top: solid white 1px;
        padding-left: 0.5rem;
    }
    .cabecera__buscar{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 97%;
    }
    .cabecera__buscar:focus{
        width: 97%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 80%;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .pie-de-pagina__informacion{
        display: block;
        height: auto;
        text-align: center;
        border-top: solid white 1px;
    }
    .pie-de-pagina__informacion__link{
        display: block;
        margin-top: 0.5rem;
    }
    .pie-de-pagina__informacion__redes{
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion{
        display: block;
        text-align: center;
        padding-top: 0.5rem;
    }
}
@media only screen and (max-width:1500px){
    .pie-de-pagina{
        position: fixed;
        bottom: 0;     
    }
}
@media only screen and (max-width:1100px){
    .pie-de-pagina{
        color: white;
        background: black;
        position: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 1rem;
    }
}