body{
    background-color: lightblue; ;
    margin: 0;
    padding: 0;
}
/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: black; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    width: 10rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}
/*--------------------------------------body-----------------------------------------------*/
.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor__slider{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
}


/*----------------------------------Carta--------------------------------------------------*/
.wrapper{
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.carta{
    background-color: lightblue;
    border-radius: 2%;
    text-align: center;
    width: 25rem;
    height: 30rem;
    box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}
.carta__imagen__imagen{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 0.7rem;
    box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}

.carta__nombre{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: black;
}

.carta__descripcion{
    font-size: 0.8rem;
    color: black;
    margin-bottom: 9rem;
}

.carta__redes{
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.carta__redes__icono{
    border-right: 0.1rem solid;
    height: 100%;
    width: 100%;

}
.no_borde{
    border-right: none;
}
/*----------------------------------Footer-------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: black;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*----------------------------------------Responsive------------------------------------------------*/
/*
@media only screen and (max-width:600px){
    .contenedor{
        display: flex;
        flex-direction: column;
    }

    .contenedor__formulario{
        margin-left: 2rem;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .contenedor__formulario__formulario{
        width: 16rem;
        margin-bottom: 2rem;
    }
}
*/