body{
    background-color: #2e63d5; ;
    margin: 0;
    padding: 0;
}

/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: #4c85c4; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    width: 10rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}

/*----------------------------------------Body----------------------------------------------*/

.contenedor{
    display: grid;
    grid-template-columns: 30%,70%;
    gap: 0.6rem;
    grid-template-areas: "title title"
                         "busqueda animes"
                         "lista lista";
    padding-left: 1rem;
    padding-right: 1rem;
        
}
.contenedor__titulo{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    color: white;
    grid-area: title;
    display: flex;
    align-items: center;
}
.contenedor__titulo__titulo{
    padding-left: 1rem;
    font-size: 1.8rem;
}
.contenedor__titulo__icon{
    font-size: 2rem;
}

/*-----------------------------------------Buscar--------------------------------------------*/

.contenedor__busqueda{
    display: flex;
    background-color: #4c85c4; 
    padding-left: 1.5rem;
    grid-area: busqueda;
    align-content: center;
    width: 17rem;
    border-radius: 2%;
}

.contenedor__busqueda__formulario-busqueda__label{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
}

.contenedor__busqueda__formulario-busqueda{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.contenedor__busqueda__formulario-busqueda__boton{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.contenedor__busqueda__formulario-busqueda__boton__buscar{
    border: none;
    color: white;
    background-color: #2e63d5;
    text-decoration: none;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 0.3s;
}

.contenedor__busqueda__formulario-busqueda__boton__buscar:hover{
    color: black;
    background-color: white;
    border:solid 0.25rem #2e63d5;

}

/*-----------------------------------Animes-------------------------------------------------*/

.contenedor__animes{
    display: flex;
    flex-wrap: wrap;
}


.contenedor__animes__anime__potada{
    width: 9rem;
    height: 15rem;
    margin-right: 0.5rem;
    border-radius: 3%;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
/*--------------------------------------Numeros de paginas----------------------------------*/
.contenedor__paginas{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-area: lista;
}

.contenedor__paginas__link{
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    font-weight: bold;
    
}
/*-------------------------------Footer-----------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: #4c85c4;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%; 
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/*--------------------------------Responsive------------------------------------------*/

@media only screen and (max-width:400px){
    .contenedor{
        gap: 1rem;
        grid-template-areas: "title title"
                             "busqueda busqueda"
                             "animes animes"
                             "lista lista";
    }
    .contenedor__busqueda{
        width: 95%;
        align-content: center;
        justify-content: center;
        padding-left: 1rem;
    }
    .contenedor__animes{
        padding-left: 2rem;
        display: flex;
        justify-content: center;
    }
    .pie-de-pagina{
        color: white;
        background: #4c85c4;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

}
/*
@media only screen and (max-width:500px){
    .pie-de-pagina{
        color: white;
        background: #4c85c4;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor{
        gap: 1rem;
        grid-template-areas: "title title "
                             "busqueda busqueda"
                             "animes animes";
    }
    .contenedor__busqueda{
        width: 93%;
        align-content: center;
        justify-content: center;
    }

}

@media only screen and (max-width:600px){
    .pie-de-pagina{
        color: white;
        background: #4c85c4;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor{
        gap: 1rem;
        grid-template-areas: "title title"
                             "busqueda busqueda"
                             "animes animes";
    }
    .contenedor__busqueda{
        width: 93%;
        align-content: center;
        justify-content: center;
    }
}*/

