body{
    background-color: lightblue; ;
    margin: 0;
    padding: 0;
}

/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: black; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    margin-top: -0.3rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}

.cabecera__buscar{
    width: 4rem;
    height: 1.7rem;
    margin-top: -0.3rem;
    transition: 0.4s;
    border-radius: 2rem;
}

.cabecera__buscar:focus{
    width: 7rem;
}
.cabecera__buscar__boton{
    border: none;
    border-radius: 2rem;
    height: 1.7rem;
    margin-left: -2.5rem;
    background-color: white;
}

/*----------------------------------------Body----------------------------------------------*/

.contenedor{
    display: grid;
    grid-template-columns: 30%,70%;
    gap: 0.6rem;
    grid-template-areas: "title title"
                         "busqueda animes"
                         "lista lista";
    padding-left: 1rem;
    padding-right: 1rem;
        
}
.contenedor__titulo{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    color: #0c2026;
    grid-area: title;
    display: flex;
    align-items: center;
}
.contenedor__titulo__titulo{
    padding-left: 1rem;
    font-size: 1.8rem;
}
.contenedor__titulo__icon{
    font-size: 2rem;
}
/*-----------------------------------------CTA----------------------------------------------*/
.contenedor__notifificacion{
    top: 15%;
    position:fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    z-index: 100;
    margin-right: 0.8rem;
}
.fa-bell{
    text-decoration: none;
    color: #0c2026;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid white 0.2rem;
    border-radius: 50%;
    margin-left: 0.25rem;
}
.contenedor__notifificacion__boton{
    border: none;
    border-radius: 50%;
    background-color: #30839f;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

/*-----------------------------------------Buscar--------------------------------------------*/

.contenedor__busqueda{
    display: flex;
    background-color: #30839f; 
    padding-left: 1.5rem;
    grid-area: busqueda;
    align-content: center;
    width: 17rem;
    border-radius: 2%;
}

.contenedor__busqueda__formulario-busqueda__label{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
}

.contenedor__busqueda__formulario-busqueda{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.contenedor__busqueda__formulario-busqueda__boton{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.contenedor__busqueda__formulario-busqueda__boton__buscar{
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 0.3s;
    border-radius: 2rem;
}

.contenedor__busqueda__formulario-busqueda__boton__buscar:hover{
    color: black;
    background-color: white;
    border:solid 0.25rem #30839f;

}

/*-----------------------------------Animes-------------------------------------------------*/

.contenedor__animes{
    display: flex;
    flex-wrap: wrap;
}
.contenedor__animes__anime{
    width: 9rem;
    height: 15rem;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.contenedor__animes__anime__potada{
    width: 100%;    
    height: 100%;
    border-radius: 3%;
}
/*--------------------------------------Numeros de paginas----------------------------------*/
.contenedor__paginas{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-area: lista;
}

.contenedor__paginas__link{
    text-decoration: none;
    margin-left: 1rem;
    color: black;
    font-weight: bold;
    
}
/*-------------------------------Footer-----------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: black;
    bottom: 0%;
    left: 0%;
    width: 100%; 
    padding-bottom: 1rem;
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.pie-de-pagina__suscripcion{
    display: flex;
    justify-content: center;
}
.pie-de-pagina__suscripcion__input{
    width: 7rem;
    border-radius: 2rem;
    transition: 0.2s;
    margin-left: 1rem;
}
.pie-de-pagina__suscripcion__input:focus{
    width: 15rem;
}
.pie-de-pagina__suscripcion__boton{
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
    margin-left: -1.5rem;
    background-color: #30839f;
    cursor: pointer;
}
.pie-de-pagina__copyr{
    text-align: center;
    margin-top: 1rem;
    border-top: solid 1px;
    padding-top: 0.5rem;
}
/*--------------------------------Responsive------------------------------------------*/

@media only screen and (max-width:400px){
    .contenedor{
        gap: 1rem;
        grid-template-areas: "title title"
                             "busqueda busqueda"
                             "animes animes"
                             "lista lista";
    }
    .cabecera{

        height: auto;
        display: block;
    }
    .cabecera__formulario{
        border-top: solid white 1px;
    }
    .cabecera__link{
        display: block;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-top: solid white 1px;
        padding-left: 0.5rem;
    }
    .cabecera__buscar{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 97%;
    }
    .cabecera__buscar:focus{
        width: 97%;
    }
    .contenedor__busqueda{
        width: 95%;
        align-content: center;
        justify-content: center;
        padding-left: 1rem;
    }
    .contenedor__animes{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        margin-right: 18rem;
    }
    .contenedor__animes__anime{
        min-width: 8.5rem;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .pie-de-pagina__informacion{
        display: block;
        height: auto;
        text-align: center;
    }
    .pie-de-pagina__informacion__link{
        display: block;
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion{
        display: block;
        text-align: center;
        padding-top: 0.5rem;
    }
    .pie-de-pagina__informacion__redes{
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion__input:focus{
        width: 7rem;
    }
}

@media only screen and (max-width:610px){
    .contenedor{
        gap: 1rem;
        grid-template-areas: "title title"
                             "busqueda busqueda"
                             "animes animes"
                             "lista lista";
    }
    .cabecera{
        height: auto;
        display: block;
    }
    .cabecera__formulario{
        border-top: solid white 1px;
    }
    .cabecera__link{
        display: block;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-top: solid white 1px;
        padding-left: 0.5rem;
    }
    .cabecera__buscar{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 97%;
    }
    .cabecera__buscar:focus{
        width: 97%;
    }
    .contenedor__busqueda{
        width: 95%;
        align-content: center;
        justify-content: center;
        padding-left: 1rem;
    }
    .contenedor__animes{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        margin-right: 18rem;
    }

    .contenedor__animes__anime{
        min-width: 8.5rem;
    }

    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .pie-de-pagina__informacion{
        display: block;
        height: auto;
        text-align: center;
    }
    .pie-de-pagina__informacion__link{
        display: block;
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion{
        display: block;
        text-align: center;
        padding-top: 0.5rem;
    }
    .pie-de-pagina__informacion__redes{
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion__input:focus{
        width: 7rem;
    }

}
@media only screen and (max-width:1100px){
    .pie-de-pagina{
        color: white;
        background: black;
        position: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 1rem;
    }
}
@media only screen and (max-width:1500px){
    .pie-de-pagina{
        position: unset;
        bottom: 0;     
    }
}
