body{
    background-color:lightblue ;
    margin: 0;
    padding: 0;
}
/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: black; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    width: 10rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}
/*----------------------------------------Body----------------------------------------------*/
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
        
}

.contenedor-principal__contenedor-titulos__icono{
    width: 2rem;
    height: 2rem;
    padding: 1rem;

}

.contenedor-principal__contenedor-titulos{
    padding-left: 1rem;
    padding-top: 1rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*------------------------------------Animes de temporada-----------------------------------*/

.contenedor-principal__animes{
    display: grid;
    grid-template-columns: repeat(4, 11rem);
    padding-top: 1rem;
    margin-left: 1rem;
    overflow-x: auto;
    gap: 0.5rem; 
    max-width: 100%; 
    scrollbar-width: none; 
      
}

.contenedor-principal__animes__item{
    margin-left: 1rem;
    cursor: pointer;
    
}
/*
.contenedor-principal__animes__item:hover{
    transform:scale(1.1);
}
*/
.contenedor-principal__animes__item__portada{
    width: 9rem;
    height: 13rem;
    transition: all 500ms ease-out;
}

.contenedor-principal__animes__item__informacion{
    position: absolute;
    top: 9.25rem;
    color: #ffffff;
    width: 9rem;
    height: 13rem;
    transition: all 500ms ease-out;
    visibility: visible;
    opacity: 0;
    text-align: center;
    background: rgb(0, 0, 0, 0.5);
}
.contenedor-principal__animes__item__informacion-segunda-fila{
    position: absolute;
    top: 23rem;
    color: #ffffff;
    width: 9rem;
    height: 13rem;
    transition: all 500ms ease-out;
    visibility: visible;
    opacity: 0;
    text-align: center;
    background: rgb(0, 0, 0, 0.5);

}

.contenedor-principal__animes__item__informacion:hover{
    opacity: 1;
    visibility: visible;
}

.contenedor-principal__animes__item__informacion-segunda-fila:hover{
    opacity: 1;
    visibility: visible;
}
/*------------------------------Emitidos----------------------------------------------------*/
.contenedor-secundario{
    padding-left: 3rem;
}

.contenedor-secundario__capitulos__item{
    margin-left: 1rem;
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
}

.contenedor-secundario__capitulos__item__descripcion{
    margin-left: 1rem;
    color: black;
    font-size: 1.3rem;
}

.contenedor-secundario__capitulos__item__imagen{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
/*----------------------------------Footer-------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: black;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
/*--------------------------------------Resposive-----------------------------------------------*/
@media only screen and (max-width:400px){
    .contenedor-principal__animes{
        display: grid;
        grid-template-columns: repeat(2, 11rem);
        padding-top: 1rem;
        margin-left: 1rem;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }    
    .contenedor-principal__animes__item__informacion{
        display: none;
    }
    .contenedor-principal__animes__item__informacion__titulo{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila{
        display: none;
    }
    .contenedor-principal__animes__item__informacion:hover{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila:hover{
        display: none;
    }
}

@media only screen and (max-width:1000px){
     .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor-principal__animes__item__informacion{
        display: none;
    }
    .contenedor-principal__animes__item__informacion__titulo{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila{
        display: none;
    }
    .contenedor-principal__animes__item__informacion:hover{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila:hover{
        display: none;
    }            
}

@media only screen and (max-width:1100px){
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor-principal__animes__item__informacion{
        display: none;
    }
    .contenedor-principal__animes__item__informacion__titulo{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila{
        display: none;
    }
    .contenedor-principal__animes__item__informacion:hover{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila:hover{
        display: none;
    }  

}

@media only screen and (max-height:600px){
    .contenedor-principal__animes{
        display: grid;
        grid-template-columns: repeat(3, 11rem);
        padding-top: 1rem;
        margin-left: 1rem;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor-principal__animes__item__informacion{
        display: none;
    }
    .contenedor-principal__animes__item__informacion__titulo{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila{
        display: none;
    }
    .contenedor-principal__animes__item__informacion:hover{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila:hover{
        display: none;
    }  

}

@media only screen and (max-height:500px){
    .contenedor-principal__animes{
        display: grid;
        grid-template-columns: repeat(2, 11rem);
        padding-top: 1rem;
        margin-left: 1rem;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .contenedor-principal__animes__item__informacion{
        display: none;
    }
    .contenedor-principal__animes__item__informacion__titulo{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila{
        display: none;
    }
    .contenedor-principal__animes__item__informacion:hover{
        display: none;
    }
    .contenedor-principal__animes__item__informacion-segunda-fila:hover{
        display: none;
    }  

}
