body{
    background-color: #2e63d5; ;
    margin: 0;
    padding: 0;
}

.estilos-header{
    background-color: #4c85c4; 
    /*margin-top: 1rem;*/
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
     
}

.estilos-header__logo{
    padding-bottom: 1rem;
    width: 10rem;
    display: flex;
    align-content: flex-start;
}

.estilos-header a{
    text-decoration: none;
    color: white;   
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    columns: 2;
    
}

.contenedor-titulos{
    padding-left: 1rem;
    padding-top: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-animes{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    margin-left: 1rem;
    overflow-x: auto;
    grid-gap: 0.5rem; 
    gap: 0.5rem; 
    max-width: 100%; 
    scrollbar-width: none; 
   
      
}
.contenedor-animes__temp{
    margin-left: 1rem;
}
.contenedor-animes__imagen{
    width: 9rem;
    height: 13rem;
}

.contenedor-destacados__imagen{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.estilos-footer{
    color: white;
    background: #000000;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    
       
}
.estilos-footer a{
    text-decoration: none;
    color: white;
}
.estilos-footer__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
