body{
    background-color: lightblue; ;
    margin: 0;
    padding: 0;
}

/*---------------------------------Header---------------------------------------------------*/

.cabecera{
    background-color: black; 
    display: flex;
    align-content:flex-end;
    justify-content:space-evenly;
    text-decoration: none;
    color: white;
    height: 2.5rem;
    padding-top: 1rem;
    font-weight: bold;
     
}

.cabecera__logo{
    padding-bottom: 1rem;
    margin-top: -0.3rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-content: flex-start;
}

.cabecera__link{
    text-decoration: none;
    color: white;   
}
.cabecera__buscar{
    width: 4rem;
    height: 1.7rem;
    margin-top: -0.3rem;
    transition: 0.4s;
    border-radius: 2rem;
}

.cabecera__buscar:focus{
    width: 7rem;
}
.cabecera__buscar__boton{
    border: none;
    border-radius: 2rem;
    height: 1.7rem;
    margin-left: -2.5rem;
}

/*-----------------------------------------CTA----------------------------------------------*/
.contenedor__notifificacion{
    top: 25%;
    position:fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    z-index: 100;
    margin-right: 0.8rem;
}
.fa-bell{
    text-decoration: none;
    color: #0c2026;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid white 0.2rem;
    border-radius: 50%;
    margin-left: 0.2rem;
}
.contenedor__notifificacion__boton{
    border: none;
    border-radius: 50%;
    background-color: #30839f;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
}

/*--------------------------------Informacion-----------------------------------------------*/
.contenedor__informacion{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    margin-bottom: 2rem;
}
.contenedor__imagen{
    display: flex;
    justify-content: center;
}
.contenedor__imagen__imagen-referencia{
    width: 13rem;
    height: 15rem;
}

.contenedor__formulario{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #30839f;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*-----------------------------------------Formilario---------------------------------------*/
.contenedor__formulario__label{
    color: white;
    font-weight: bold;
}
.contenedor__formulario__boton{
    border: none;
    height: 2rem;
    border-radius: 1rem;
}
.contenedor__formulario__boton:hover{
    color: white;
    border:solid white 1px
}

/*-------------------------------Footer-----------------------------------------------------*/
.pie-de-pagina{
    color: white;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    padding-bottom: 2rem;
}
.pie-de-pagina__informacion__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pie-de-pagina__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.pie-de-pagina__suscripcion{
    display: flex;
    justify-content: center;
}
.pie-de-pagina__suscripcion__input{
    width: 7rem;
    border-radius: 2rem;
    transition: 0.2s;
    margin-left: 1rem;
}
.pie-de-pagina__suscripcion__input:focus{
    width: 15rem;
}
.pie-de-pagina__suscripcion__boton{
    border: none;
    border-radius: 2rem;
    height: 1.5rem;
    margin-left: -1.5rem;
    background-color: #30839f;
    cursor: pointer;
}

/*-----------------------------Respomsive---------------------------------------------------*/
@media only screen and (max-width:610px){
    .cabecera{
        height: auto;
        display: block;
    }
    .cabecera__formulario{
        border-top: solid white 1px;
    }
    .cabecera__link{
        display: block;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-top: solid white 1px;
        padding-left: 0.5rem;
    }
    .cabecera__buscar{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        width: 97%;
    }
    .cabecera__buscar:focus{
        width: 97%;
    }
    .contenedor__informacion{
        width: 90%;
        display: flex;
        margin: 1rem;
    }
    .contenedor__formulario{
        display: flex;
        align-content: center;
    }
    .contenedor__formulario__formulario{
        display: flex;
        flex-direction: column;
    }
    .contenedor__formulario__input{
        width: 10rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .pie-de-pagina{
        color: white;
        background: black;
        position: inherit;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .pie-de-pagina__informacion{
        display: block;
        height: auto;
        text-align: center;
        margin-top: 7rem;
    }
    .pie-de-pagina__informacion__link{
        display: block;
        margin-top: 0.5rem;
    }
    .pie-de-pagina__suscripcion{
        display: block;
        text-align: center;
        padding-top: 0.5rem;
    }
    .pie-de-pagina__informacion__redes{
        margin-top: 0.5rem;
    }
}

@media screen and (min-width:1100px){
    .pie-de-pagina{
        color: white;
        background: black;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 2rem;
    }
}